/*color styling in css */

body {
    background-color: rgb(62, 43, 186);
}

.heading {
    background-color: #ff0000;
    width: 40px;
    margin: 100px 200px;
    padding: 10%;
}

.para {
    background-color: rgb(153, 204, 255);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/*dimensions*/

.box {
    background-color: aqua;
    width: 200px;
    height: 100px;
    font-size: 32px;
    border-radius: 50%;
}

.hi {
    background-color: aqua;
    width: 20%;
    height: 10%;
    border: 10px rgb(55, 199, 117);
    border-radius: 50%;
}

div {
    width: 200px;
    height: 200px;
}

.bbox1 {
    background-color: black;
}

.bbox2 {
    background-color: rgb(31, 15, 175);
}

.bbox3 {
    background-color: rgb(205, 185, 7);
    position: relative;
    margin-block-start: 50px;
    bottom: 30px;
    left: 50px;
}