img {
    width: 120px;
    height: 80px;
    border-radius: 50%;
}

.a {
    position: fixed;
    top: 250px;
    left: 100px;
}

.b {
    position: sticky;
    top: 200px;
    left: 100px;
}

.c {
    position: -webkit-sticky;
    top: 250px;
    left: 100px;
}