body {
    color: aquamarine;
    background-color: brown;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* class slector */

.first {
    color: rgb(13, 25, 195);
}

.large {
    font-size: xx-large;
}


/* id slector */

#eklist {
    color: rgb(1, 10, 10);
}

a[ href="\day1\day1.html"] {
    color: blue
}